/* MyComponent.css (o tu archivo CSS) */
.card-custom {
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    width: 100%; /* Ocupa el 100% del ancho de la columna */
    max-width: 300px; /* Elimina cualquier max-width que pueda estar limitando */
    /* max-width: 400px; */
    min-width: 300px !important; /* Establece el ancho mínimo */
    /* overflow: hidden; */
    position: relative;
    overflow: visible;
}

.divCardImg {
    width: 100%;
    height: 450px;
    min-height: 200px; /* Añadido: Altura mínima para evitar que la imagen se encoja demasiado */
    padding: 10px;
    position: relative;
}

.cardImg {
    cursor: pointer;
    width: 100%;
    max-width: 100%;
    height: 100%;
    object-fit: contain;
    transition: transform 0.3s ease;
    z-index: 1;
}

.cardImg:hover {
    transform: scale(1.2);
    z-index: 10;
}

.text {
    font-weight: bold;
}











.card-stats {
    position: absolute;
    /* top: 10px; */
    left: 285px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    opacity: 0;
    transform: translateY(-10px);
    transition: all 0.3s ease;
    z-index: 2;
}

.stat-item {
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 8px 12px;
    border-radius: 5px;
    font-size: 14px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card:hover .card-stats {
    opacity: 1;
    transform: translateY(0);

}



