.card {
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    width: 100%;
    max-width: 350px;
    /* overflow: hidden; */
    position: relative; 
    overflow: visible; 
}

  
.divCardImg {
    width: 100%;
    height: 450px;
    padding: 10px;
    position: relative;
}
  
.cardImg {
    cursor: pointer;
    width: 100%;
    max-width: 100%;
    height: 100%;
    object-fit: contain;
    transition: transform 0.3s ease;
    z-index: 1;
}

.cardImg:hover {
    transform: scale(1.2);
    z-index: 10;
}
  
.text {
    font-weight: bold;
}













.card-stats {
    position: absolute;
    top: 10px;
    left: 300px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    opacity: 0;
    transform: translateY(-10px);
    transition: all 0.3s ease;
}

.stat-item {
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 8px 12px;
    border-radius: 5px;
    font-size: 14px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card:hover .card-stats {
    opacity: 1;
    transform: translateY(0);
}



