@import url('https://fonts.googleapis.com/css2?family=Zain:ital,wght@0,200;0,300;0,400;0,700;0,800;0,900;1,300;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap');


*{
  font-family: "Geist", serif;
}

body {
  padding-top: 50px; 
  height: 100%;
  display: flex;
  flex-direction: column;/* Ajusta según la altura del navbar */
}

html, body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Asegura que ocupe toda la altura del viewport */
}

.main-content {
  flex: 1; /* Expande el contenido y empuja el footer hacia abajo */
}

.footer {
  margin-top: auto; /* Hace que el footer siempre esté al final */
}


.body-dark{
  background-color: #000000;
}





/* ///////////////////// PAGINACIÓN ////////////////////////// */


.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}

.pagination button {
  margin: 0 5px;
  padding: 10px 15px;
  border: none;
  background-color: #007bff;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.pagination button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.pagination span {
  margin: 0 10px;
  font-size: 16px;
}


/* ///////////////////  HEADER //////////////////////// */


.navbar{
  height: 65px;
}

.navbar-light{
  /* background-color: #ffffff; */
  /* margin: 25px; */
  /* margin-bottom: 25px; */
  font-weight: 600;
  font-size: 14px;
  font-family: "Geist", serif;
  /* border-bottom: 1px solid #d1d1d1; */
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  z-index: 1030;
  backdrop-filter: blur(20px); /* Desenfoque del contenido detrás */
  background-color: rgba(255, 255, 255, 0.8);
  color:#F6F6F6;
  color:#bdbdbd;
}


.navbar-dark{
  font-weight: 600;
  font-size: 14px;
  font-family: "Geist", serif;
  border-bottom: 0.5px solid #3b3b3b;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  z-index: 1030;
  backdrop-filter: blur(20px); /* Desenfoque del contenido detrás */
  background-color: #0006;
  /* color:#F6F6F6; */
  /* color:#ffffff;  */   
}

.navbar form{
  margin-right:30px;
}

.sun{
  height: 30px;
  justify-content: center;
  display: flex;
  align-items: center;
  width: 30px;
  color: black;
}

.sun:hover{
  background-color: #F6F6F6;
  /* background-color: #F5F7FA; */
  cursor: pointer;
}

.moon{
  height: 30px;
  justify-content: center;
  display: flex;
  align-items: center;
  width: 30px;
  /* color: white; */

}

.moon:hover{
  background-color: #7c7c7c;
}

.bi-moon-stars:hover{
  fill: black;
}



.navbar img{
  width: 45px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.navbar img:hover{
  transform: scale(1.1);
}

/* .nav-item{
  color:#F6F6F6;
  color:#F5F7FA;
} */


.nav-item:hover{
  color:#09090b;
}

.nav-item-dark a{
  color:#bdbdbd;
}

.nav-item-dark a:hover{
  color:#ffffff;
}

.navbar input {
  min-width: 300px;
  max-width: auto;
  height: 30px;
  font-size: 14px;
  background-color: #f6f6f6;
  /* background-color: #F5F7FA; */
}





/* ///////////////////  HOME  //////////////////////// */

.title h1{
  color: black;
  font-weight: 900 !important;
}

.home-buttons button{
  background-color: #0284c7;
  color: #ffffff;
  /* box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px; */
  /* box-shadow: rgba(2, 132, 199, 1) 0px 1px 4px; */
  box-shadow: rgba(3, 105, 161, 1) 0px 1px 4px;

}

.home-buttons button:hover{
  background-color: #0ea5e9;
  color: #ffffff;
}

.home-dark h1{
  color: white;
}

.home-dark p{
  color: white;
}


/* .home-buttons button{
  background-color: black;
  color: #ffffff;
  box-shadow: rgba(0, 0, 0, 1) 0px 1px 4px;
  box-shadow: rgba(2, 132, 199, 1) 0px 1px 4px;
  box-shadow: rgba(3, 105, 161, 1) 0px 1px 4px;

}

.home-buttons button:hover{
  background-color: #3d3d3d;
  color: #ffffff;
}


.home-buttons .OLE{
  background-color: rgb(220, 38, 38);
  color: #ffffff;
  box-shadow: rgba(220, 38, 38) 0px 1px 4px;
  box-shadow: rgba(2, 132, 199, 1) 0px 1px 4px;
  box-shadow: rgba(3, 105, 161, 1) 0px 1px 4px;

}

.home-buttons .OLE:hover{
  background-color: #ef4444;
  color: #ffffff;
} */


/* ///////////////////  FOOTER  //////////////////////// */

.footer-light{
  border-top: 0.5px solid #dee2e6;
}

.footer-dark{
  border-top: 0.5px solid #3b3b3b;
}

.footer-dark .bi-linkedin{
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  fill: white;
}

.footer-dark .bi-linkedin:hover{
  fill:#007bff;
  transform: scale(1.1);
}

.footer-dark .bi-github{
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  fill: white;
}

.footer-dark .bi-github:hover{
  fill:#800080;
  transform: scale(1.1);
}

.footer-dark span{
  color: #ffffff;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.footer-dark span:hover{
  transform: scale(1.05);
}

footer span{
  font-weight: 600;
  font-size: 14px;
  font-family: "Geist", serif;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease; 
}

footer span:hover{
  transform: scale(1.05);
}

.bi-linkedin{
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.bi-linkedin:hover{
  fill:#007bff;
  transform: scale(1.1);
}

.bi-github{
  transition: transform 0.3s ease, box-shadow 0.3s ease; 
}

.bi-github:hover{
  fill:#800080;
  transform: scale(1.1);
}




/* ///////////////////// CARD ////////////////////////// */

/* .card{
  margin-bottom: 30px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.card img{
  cursor: pointer;
  width: 300px;
  height: 400px;
  object-fit: contain;
} */




/* ///////////////////// CHARACTER ////////////////////////// */

